* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

body {
  text-align: center;
  background-color: black;
}

button {
  background-color: transparent;
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  font-size: 16px;
}

button:hover {
  cursor: pointer;
}

h1 {
  font-size: 42px;
  margin-top: 20px;
}

.in-container {
  border-bottom: 3px solid white;
  width: 40%;
  height: 12vh;
  margin: auto;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.todo-input {
  outline: none;
  width: 75%;
  height: 50%;
  padding-left: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 0;
  background-color: rgb(33, 33, 33);
}

.add-btn {
  background-color: rgb(138, 33, 33);
  border-radius: 5px;
  height: 50%;
  width: 23%;
  text-transform: uppercase;
  font-size: 100%;
}

.add-btn:hover {
  background-color: rgb(117, 28, 28);
}

.container {
  width: 40%;
  margin: auto;
}

.todo-con {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px 0;
  background-color: rgb(30, 30, 30);
  border-left: 5px solid brown;
  border-radius: 0 5px 5px 0;
}

.todo-input::placeholder {
  font-size: 100%;
}

.left-side-con {
  display: flex;
  gap: 1%;
  align-items: center;
  width: 85%;
}

.delete-btn {
  font-size: 20px;
}

.delete-btn:hover {
  color: brown;
}

.todo {
  overflow: hidden;
  word-wrap: break-word;
}

.todo-done {
  text-decoration: line-through;
  color: rgb(125, 125, 125);
}

.done-btn {
  font-size: 100%;
  margin-left: 5px;
}

.done-btn:hover {
  color: darkolivegreen;
}

.todo-con-done {
  background-color: rgb(16, 16, 16);
}

.menu {
  width: 100%;
  display: flex;
  list-style: none;
  gap: 20px;
  font-size: 26px;
  padding-top: 10px;
  padding-left: 10px;
}

.menu > li > a {
  text-decoration: none;
}

.menu > li:hover > a {
  color: rgb(172, 172, 172);
}

.about-description {
  width: 50%;
  margin: auto;
  margin-top: 20px;
  font-size: 24px;
}

.about-description > strong {
  color: brown;
}

@media (max-width: 740px) {
  .add-btn {
    font-size: 12px;
  }
}

@media (max-width: 650px) {
  .delete-btn {
    font-size: 15px;
  }
}

@media (max-width: 610px) {
  .add-btn {
    font-size: 10px;
  }

  .todo {
    font-size: 14px;
  } 

  .todo-input::placeholder {
    font-size: 80%;
  }
  
}

